<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Bixos: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<div id='Titulo_bixos'>
  <img src="/images/Titulo.png"></img>
</div>

<div id="menu">
  <ul>
    <li>
      <%= link_to "Bixos" , :bixos %>
    </li>
    <li>
      <%= link_to "Modalidades", :modalidades %>
    </li>
    <li>
      <%= link_to 'Novo bixo', new_bixo_path %>
    </li>
  </ul>
</div>

<br/><br/>
<br/>

    <%= yield %>
  </body>

</html>
